html {
  height: 100%;
}
body {
  font-family: "Source Code Pro", monospace;
  /* font-family: 'Encode Sans Expanded', sans-serif; */
  background-color: #303030;
  color: #dad9d9;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  font-size: 12px;
}

#introduction {
  display: flex;
  flex-direction: column;
  margin: 3.5% auto 1% auto;
  width: 85%;
}
/* -------- */
body .side-menu {
  background-color: #4d4c4c;
  width: 48px;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding-top: 0px;
  margin-top: 28px;
}
body .side-menu .side-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25%;
}
body .side-menu .icon {
  width: 33px;
  height: 33px;
}

/* ------ */
body .topnav {
  background-color: #4d4c4c;
  padding-left: 48px;
  top: 0;
  position: fixed;
  width: 100%;
  height: 30px;
}
body .topnav .fav-icon {
  margin-right: 9px;
  vertical-align: text-bottom;
}
body .topnav .icon_size {
  width: 10px;
  height: 10px;
}
body .topnav a {
  float: left;
  color: #dad9d9;
  text-align: center;
  line-height: 30px;
  padding: 0px 10px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #303030;
}

/* ----- */



.btn-position-1 {
  position: absolute; 
  top: 5%;
  left: 51%;
  z-index: 1;
}

.btn-position-2 {
  position: absolute; 
  top: 5%;
  left: 3%;
}

.btn-position-3 {
  position: absolute; 
  top: 30%;
  left: 51%;
}

.btn-position-4 {
  position: absolute; 
  top: 30%;
  left: 3%;
}
.skills-btn:hover {
  display: block; 
}

.skills-btn{
  display: none; 
  background-color: #4d4c4c; 
  /* background-color: #303030;   */
  width: 45%; 
  height: 35px;
  border: 1px solid #303030;
  text-align: center; 
  line-height: 35px; 
  /* color: rgb(255, 51, 153); */
  color: #00bfff; 
  /* color: #dad9d9;  */
}

.card img:hover {
  opacity: .5;
}


.projects {
  display: flex;
  margin-left: 5%;
}
.card {
  /* border: 1px solid red;  */
  width: 300px;
  margin: 1rem;
  padding: 0px;
  position: relative;
}

.project_btn {
  border: 1px solid hsl(0, 0%, 26%) !important;
  color: #00bfff;
  border: none;
  width: 48%;
  text-align: center;
  text-decoration: none;
  margin-top: 6px;
  cursor: pointer;
  height: 35px;
  /* height: 2rem; */
  float: left;
  line-height: 35px;
}
.project_btn:hover {
  background-color: #4d4c4c;
}
.tinted-image {
  width: 200px;
  background-image: url(images/TitanSearch.png);
}
.project_btn .fav-icon {
  vertical-align: text-bottom;
  margin-right: 4px;
  width: 10px;
  height: 10px;
}

/* ------- */

.html_characters {
  color: lightskyblue;
}
.style-array {
  word-spacing: -10px;
}
body .code_spacing {
  margin-left: 3%;
}
body .code_coloring {
  color: #00bfff;
}
body .count {
  margin-left: 57px;
  font-size: 12px;
  display: inline-block;
  width: 25px;
  position: absolute;
  line-height: 120%;
}

input[type="submit"] {
  background-color: #4d4c4c;
  color: #00bfff;
  padding: 12px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #dad9d9;
}

.form_container {
  margin: 2% auto;
  width: 80%;
  /* border: 1px solid red;  */
}
#_form {
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}
input,
select,
textarea {
  color: rgb(255, 51, 153);
}
.form_style {
  width: 50%;
  background-color: #303030;
  border: 1px solid hsl(0, 0%, 26%);
  height: 2rem;
  margin-bottom: 1%;
  padding-left: 0.5rem;
}
#subject {
  padding-top: 0.5rem;
  height: 4rem;
}

.email {
  background-image: url("images/email.png");
  background-repeat: no-repeat;
}
.email:hover {
  background-image: url("images/email_hover.png");
  background-repeat: no-repeat;
}

.github {
  background-image: url("images/github.png");
  background-repeat: no-repeat;
}
.github:hover {
  background-image: url("images/github_hover.png");
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url("images/linkedin.png");
  background-repeat: no-repeat;
}
.linkedin:hover {
  background-image: url("images/linkedin_hover.png");
}

.facebook {
  background-image: url("images/facebook.png");
  background-repeat: no-repeat;
}
.facebook:hover {
  background-image: url("images/facebook_hover.png");
  background-repeat: no-repeat;
}

.twitter {
  background-image: url("images/twitter.png");
  background-repeat: no-repeat;
}
.twitter:hover {
  background-image: url("images/twitter_hover.png");
  background-repeat: no-repeat;
}
