
.project_btn {
  background-color: #303030;
  color: #00bfff;
  border: none;
  width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2px;
  cursor: pointer;
  height: 35px;
}
.btn:hover {
  color: #dad9d9;
}
.display-box {
  width: 370px;
  height: 240px;
  padding: 10px;
}

.email {
  background-image: url("images/email.png");
  background-repeat: no-repeat;
}
.email:hover {
  background-image: url("images/email_hover.png");
  background-repeat: no-repeat;
}

.github {
  background-image: url("images/github.png");
  background-repeat: no-repeat;
}
.github:hover {
  background-image: url("images/github_hover.png");
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url("images/linkedin.png");
  background-repeat: no-repeat;
}
.linkedin:hover {
  background-image: url("images/linkedin_hover.png");
}

.facebook {
  background-image: url("images/facebook.png");
  background-repeat: no-repeat;
}
.facebook:hover {
  background-image: url("images/facebook_hover.png");
  background-repeat: no-repeat;
}

.twitter {
  background-image: url("images/twitter.png");
  background-repeat: no-repeat;
}
.twitter:hover {
  background-image: url("images/twitter_hover.png");
  background-repeat: no-repeat;
}

.html_characters {
  color: yellow;
}
.style-array {
  word-spacing: -10px;
}


input[type="submit"] {
  background-color: #424242;
  color: #00bfff;
  padding: 12px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #dad9d9;
}

.contact-box {
  /* margin-top: 70px; */
  /* border-radius: 5px; */
  /* background-color: #303030; */
}
.form_container {
  margin: 2% auto; 
  width: 80%; 
  /* border: 1px solid red;  */
}
#_form {
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}
input, select, textarea{
  color: rgb(255, 51, 153);
}
.form_style {
  width: 50%; 
  background-color: #303030;
  border: 1px solid hsl(0, 0%, 26%);
  height: 2rem;
  margin-bottom: 1%; 
  padding-left: 0.5rem; 
}
#subject {
  padding-top: 0.5rem;
  height: 4rem; 
}